html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  font-family: 'Roboto', sans-serif;
  color: var(--color-text-primary);
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin-block-start: 0;
  margin-block-end: 0;
}

body {
  margin: 0;

  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-font-smoothing: subpixel-antialiased;
  -o-font-smoothing: subpixel-antialiased;
  -ms-font-smoothing: subpixel-antialiased;
  font-smoothing: subpixel-antialiased;
  transition: background-color ease-out 0.4s;
  -webkit-tap-highlight-color: transparent;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
select {
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

ol,
ul {
  list-style: none;
  padding-inline-start: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

caption,
th,
td {
  text-align: left;
}

a {
  text-decoration: none;
  color: inherit;
}

input:focus {
  outline: none;
}

select:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

button {
  border: none;
  border-radius: 0;
  padding: 0;
}

button:focus {
  outline: none;
}

p {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-webkit-autofill:first-line {
  position: relative;
  z-index: 0;
  max-height: 52px;
  -webkit-text-fill-color: var(--color-text-primary) !important;
  box-shadow: inset 0 0 0 40px var(--color-background-surface) !important;
}
